  <div class="col-10 offset-1">
  <h1>About Nick's Balanced Training</h1>

  <p>
    Nick's balanced training was started in 2019 by <a target="_blank" href="https://magenbouchard.github.io/newportfolio/index.html">Magen</a> 
  </p>
  <br />
  <p>
  Magen began training dogs with her first puppy Enzo v TeMar in 2012. In 2017 Enzo passed away holding over 12 titles in an array of dog sports including IPO, PSA, Barnhunt and Rally.
   Magen then started to show a male Schipperke named Nick in 2019 and noticed a shortage in the Orlando area of groomers that have familiarity with grooming double coated dogs for show.
  </p>


</div>
</div>