<div class="col-10 offset-1 about">
  <h1>About Nick's Balanced Training</h1>
  Nick's balanced training was started in 2019 by <a target="_blank" href="https://magenbouchard.github.io/newportfolio/index.html">Magen Bouchard</a> 
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'enzo.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <p>
      Magen began training dogs with her first puppy a German Shepherd named Enzo v TeMar in 2012, she quickly fell in love with the bond that Enzo and her created through training. After moving to Orlando in 2014 they joined in with like minded people in area and started to train in multiple areas. In 2016, Magen acquired her second dog Lana von Tjärnshaget, a black female german shepherd whom she to trains in Barnhunt and IPO.
      In 2017, Enzo passed from cancer but not before having over 12 titles in an array of dog sports including K9-Patrol, IPO, PSA, Barnhunt and Rally.
       
      In 2018, Magen purchased Deloran's Nick of Time, aka Nick, a male Schipperke from New York. She started to show him in the AKC rings and was surprised by the lack of resources for Schipperkes in the Orlando area when it came to show grooming. She also was surprised by the amount of people that contacted her for training when people encountered her and her dogs on the street. With an idea in mind Nick's balanced training was born into existance.
      </p>
    </div>
  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />


 