<meta name=”viewport” content=”width=device-width, initial-scale=1″>
<div class="col-10 offset-1 contact">
  <h1>Feel free to follow me on Instagram!</h1>
  <h2> Please email regarding inquiries for training, boarding or grooming</h2>

 </div>