<meta name=”viewport” content=”width=device-width, initial-scale=1″>
<br />
<div class="brand">
  <h1 class="text-center">Gone but never forgotten </h1>
</div>
<br />
<div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'enzostack.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Enzo v TeMar</h2>
      <h3 class="text-center">07. June 2012 - 19. March 2018</h3>
      <br />
      <p>
      SG3(UScA SIEGER SHOW) K-9 Patrol CGC HIC HCT TC RATI GDT DHT PSA- PDC BH AD CD RN FO H.O.T.
      <br />
      <div class="enzo">
      My Unicorn.
      <br />
      My Best Friend.
      <br />
      A west showline german shepherd who everyone said couldn't work. We came onto their field and proved them all wrong time and time again.
      </div> 
      </p>
    </div>
  </div>