<br />
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'groom.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Dog Grooming</h2>
      <br />
      <p>
        I specialize in Schipperke show grooming, although I can do almost any double coated breed to help them look ready for the show ring. I know the importance of using the correct brushes to prevent damage to gaurd hairs while using an HV dryer to fluff undercoat. 
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'fus.jpg', class: 'img-fluid' %>
    </div>
    <br />
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Boarding</h2>
      <br />
      <p>
        I offer boarding for those going on trips, I know it can be nerve racking leaving your dog in a boarding facility. I board all dogs in my home where we will reinforce training for basic obedience, they will also be evaluated and grouped with dogs with similiar play styles for socialization.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'manners.jpg', class: 'img-fluid' %>
    </div>
    <br />

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Board and Train</h2>
      <br />
      <p>
        This is a 28 board and train option where your dog will stay with me for a month while we work being a balanced healthy dog. Basic obedience includes sit, down, leash manners, house manners, crate training and husbandry manners. I offer open communication while they are with me in the form of text, photos and phone call updates. At the end of the boarding I also include 4 at home lessons where I will go to your home and help you reinforce the training that has been taught. It is often the follow through that is the most important when a dog comes home. Your dog will also get a refresher on manners everytime they board with me in the future and I will include invites to social outings in the area to encourage public interaction for your puppy.
      </p>
    </div>
  </div>
  <br class="clear" />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'manners.jpg', class: 'img-fluid' %>
    </div>
    <br />

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> 30 Minute Quick Fix</h2>
      <br />
      <p>
        A quick 30 minute session where I will meet with you and dog and evaluate any issues that you may have. We will then formulate a plan with you for you to take home and implement. It is up to you to follow through with the plan, will be available for questions and will set up time to follow up with you to see how your plan is working.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>
<br />